@{
    ViewBag.Title = "Atuacao";
}

<link href="@Url.Content("~/Content/body.css")" rel="stylesheet" type="text/css" />

<ol>
    <li>
        <br />
        <br />
        <h3>@ViewBag.Message</h3>
        <br />
        <p>A Advocacia Trabalhista Borges conta com uma sofisticada estrutura para a orientação e defesa dos interresses dos empregados em geral, especializando-se na área de DIREITO INDIVIDUAL DO TRABALHO, EXCLUSIVAMENTE NA DEFESA DOS TRABALHADORES.</p>
        <br />
        <p>Nossos profissionais atuam de maneira decisiva na propositura e no acompanhamento de ações trabalhistas, adotando procedimentos segmentados específicos para assegurar a eficiência e a agilidade que caracterizam os serviços prestados pela Advocacia Trabalhista Borges, dentre os quais:</p>
        <br />
        <p>Elaboração de petição inicial;</p>
        <p>Instrução processual;</p>
        <p>Área recursal;</p>
        <p>Setor de execução de sentença e sustentação oral nos tribunais.</p>
        <br />
        <p>Avaliamos e se necessário reivindicamos possíveis irregularidades em contrato de trabalho, rescisões, férias, horas extraordinárias, reenquadramento salarial, plano de carreira, justa causa, equiparação salarial, reintegração, danos morais, LER (lesões por esforços repetitivos), assédio moral, entre outros.</p>
        <br />
        <p>Por questões estratégicas, nosso escritório (sede própria) está localizado a 100 (cem) metros do terminal rodoviário e estação Barra Funda do Metrô/Trem e a 200 (duzentos) metros do Fórum Rui Barbosa (Justiça do Trabalho), contando com uma equipe de 60 profissionais, sendo 28 advogados, 15 estagiários e 17 paralegais, todos altamente envolvidos no processo de planejamento, elaboração, execução e acompanhamento das ações.</p>
        <br />
        <br />
    </li>
</ol>

