@{
    ViewBag.Title = "Equipe";
}

<link href="@Url.Content("~/Content/body.css")" rel="stylesheet" type="text/css" />

<ol>
    <li>
        <br />
        <br />
        <h3>@ViewBag.Message</h3>
        <br />
        <p>A ADVOCACIA GERALDO é um escritório que atua no Direito do Trabalho contencioso, composto por um corpo jurídico formado por uma equipe de profissionais e advogados altamente qualificados e especializados.</p>
        <br />
        <p>Em defesa exclusivamente do direito do trabalhador, nosso objetivo é oferecer aos nossos clientes a melhor solução para os conflitos trabalhistas e relações de trabalho, sempre prezando pelo atendimento personalizado e de alta qualidade em uma estrutura totalmente voltada a sua área de atuação.</p>
        <br />
        <p>Conheça nossos profissionais.</p>
        <br />
        <br />
    </li>
</ol>
<div class="separador">
    <img src="~/Content/image/separator.png" />
    <br />
    <br />
</div>
<ol>
    <li>
        <h3 style="color:#af1201;">Advogados</h3>
        <br />
        <h4>Geraldo Romeu</h4>
        <br />
        <p></p>
        <br />
    </li>
</ol>

