@{
    ViewBag.Title = "Home";
}

<link href="@Url.Content("~/Content/body.css")" rel="stylesheet" type="text/css" />

<ol>
    <li>
        <br />
        <br />
        <h3>@ViewBag.Message</h3>
        <br />
        <p>A Geraldo Advogados, com sede em Caraguatatuba-SP, tem como filosofia, a prática da advocacia e consultoria jurídica, atendendo aos princípios da ética, da legalidade e da dignidade humana.</p>
        <br />
        <p>Composta por profissionais com alta especialização e experiência nas questões jurídicas, a Vilela Advogados proporciona um atendimento diferenciado aos seus clientes, prestando serviços de forma ágil, eficiente e honesta.</p>
        <br />
        <p>Nossa missão é fornecer um atendimento diferenciado buscando o crescimento profissional de nossa empresa. Trabalhando com ética, transparência e compromisso com nossos clientes, usufruímos desses valores para obter soluções adequadas para os fatos, adquirindo um resultado positivo em pró do cliente tornando excelência na atuação de serviços advocatícios. </p>
        <br />
        <p>Assim, os profissionais da Geraldo Advogados estão preparados para a proteção dos seus interesses amparados pela lei.</p>
        <br />
        <br />
    </li>
</ol>
